# Rust files
/target

# Environment files
.env
.env.*
!.env.docker
!.env.example

# Private and public keys
/keys/*
!/keys/.gitkeep

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform*
terraform.rc
crash.log
crash.*.log