# Rust files
/target

# Environment files
.env
.env.*
!.env.test
!.env.example

# Private and public keys
/keys/*
!/keys/.gitkeep

# Terraform
**/.terraform/*

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

.terraform.tfstate.lock.info

.terraformrc
terraform.rc

override.tf
override.tf.json
*_override.tf
*_override.tf.json

crash.log
crash.*.log

# Mac OS
.DS_Store